.page-header
  %h1 Help Page

%p.lead
  This is a Demo Social

%p
  This project drived me to learn web development and various programming languages from HTML, CSS, JAVASCRIPT, jQuery, PHP, SQL, MySQL, SQLite, PYTHON, Django, RUBY, Ruby on Rails and I have written this project in 3 different languages. 

%p
  Get involve and lets build this site to its full potential. If there is a feature that you want to add to this site contact me at 
  %strong (zphumzani@gmail.com) 
  or if you are a rails developer you will find the code at Github

%p
  Use this project as you like and if you want it email me 
  %strong (zphumzani@gmail.com)

%pre
  The Agile Manifesto
  We are uncovering better ways of developing software by doing it and helping others
  do it. Through this work we have come to value:
  Individuals and interactions over processes and tools
  Working software over comprehensive documentation
  Customer collaboration over contract negotiation
  Responding to change over following a plan
  That is, while there is value in the items on the right, we value the items on the
  left more.

  